:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #fff;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --card-set-gap: 20px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --shadow-box: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

/* CONTAINER */
.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

/* Общие отступы для блоков */
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

/* Хедер. Логотип */
.logo {
  margin-right: 93px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  color: var(--accent-color);
}

.logo .top-logo {
  color: var(--primary-text-color);
}

.logo .bot-logo {
  color: var(--white-color);
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  list-style: none;
}
.nav-main li:nth-child(n + 3) {
  margin-left: 50px;
}

/* Хедер. Навигационное меню */
.top-line .list {
  align-items: center;
}
.top-line {
  outline: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}
.top-line .link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.nav-main .link {
  color: var(--primary-text-color);
}

.nav-main .link:hover,
.nav-main .link:focus {
  color: var(--accent-color);
}

/* Выбранный пункт меню */
.nav-main .selected {
  color: var(--accent-color);
}

.mail-link {
  margin-right: 50px;
}

.mail-link,
.phone-link {
  color: var(--text-color);
  justify-content: flex-end;
}

.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}

.phone-link:hover,
.phone-link:focus {
  color: var(--accent-color);
}

/* Формат текста */
.text {
  color: var(--text-color);
  line-height: 1.7;
}

.title-second {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
  line-height: 1.16;
}

/* Герой */
.hero {
  background-color: var(--second-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
}

/* Заголовок h1 */
.hero .hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin: 0 auto;
  margin-bottom: 30px;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}

.hero .hero-but {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, 30 px or 187% */

  cursor: pointer;
  letter-spacing: 0.06em;

  color: #ffffff;
}

/* Особенности  */
.hiden {
  display: none;
}

.features {
  padding-bottom: 0px;
}

.features li {
  width: 270px;
  margin-right: 30px;
}
.features li:last-child {
  margin-right: 0px;
}

.features .title-third {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* Чем мы занимаемся */

/* Наша команда */
.our-team {
  background-color: var(--third-background-color);
  text-align: center;
  font-weight: normal;
}
.our-team .list {
  flex-wrap: nowrap;
}
.our-team .list-box {
  box-shadow: var(--shadow-box);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
  line-height: 1.16;
}

.list-box:not(:last-child) {
  margin-right: 30px;
}

.our-team .title-third {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: inherit;
}
.our-team .text {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: inherit;
}

/* Футер */
.bot-line {
  background-color: var(--second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.bot-line li:not(first-child) {
  margin-bottom: 9px;
}

.bot-line li:last-child {
  margin-bottom: 0px;
}

.bot-line .list {
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20px;
  line-height: 1.5;
}

.bot-line .link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.bot-line .address {
  font-style: normal;
  color: #ffffff;
}

.bot-line .link:hover,
.bot-line .link:focus {
  color: var(--accent-color);
}

/* Фильтры страницы Портфолио */

.but {
  background-color: #f5f4fa;
  border-radius: 4px;
  border-width: 0px;
  padding: 6px 22px;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 500;

  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
}

.active-but {
  background-color: var(--accent-color);
  /* shadow-middle */

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-width: 0px;
  color: white;
}

.filter {
  justify-content: center;
  margin-bottom: 50px;
}

.f-but:not(:last-child) {
  margin-right: 8px;
}

.filter .but:hover,
.filter .but:focus {
  background-color: var(--accent-color);
  /* shadow-middle */

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-width: 0px;
  color: white;
}

/* Карточки Портфолио */
.cards {
  flex-wrap: wrap;
}
.image {
  display: block;
}

.border-box {
  border: 1px solid #eeeeee;
  border-top: 0px;
  padding: 20px 24px;
}

.list-child:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.portfolio-list .title-third {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.cards .text {
  font-size: 16px;
  line-height: 1.875;
}
